snippet rcc
	var ${1} = React.createClass({
		render: function () {
			return (
				${2}
			);
		}
	});
snippet rcwm
	componentWillMount: function() {
		${1}
	},
snippet rprops
	this.props.${1}
snippet rstate
	this.state.${1}
